{% extends 'index_base.html' %}

{% block content %}
    
<h1>Index List - {{ department }} </h1>

<!-- to add new index or report -->   
<div class="nav-right">   
    <a href="{% url 'index_new' did=did %}">+ Add New Index</a>  
</div>

<!-- How to create table using bootstrap...  -->
<!-- https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-tables.php -->

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        {% for index in object_list %}
            <li class="list-group-item">
                <a href="{% url 'indexdata_list' did=index.department.id  pk=index.id %}">{{ index }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
