{% extends 'index_base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="jumbotron">
    {% if user.is_authenticated %}
      <h1 class="display-6">Dept List</h1>
        <p class="lead">Hi {{ user.username }}! </p>
        <ul>
            {% for department in object_list %}
                <p class="lead">
                    <li><a class="btn btn-primary btn-sm" href="{% url 'index_list' did=department.id %}"> {{ department }} </a> </li>
                </p>
            {% endfor %}
        </ul>
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a> 
        <!-- | -->
        <!-- <a href="{% url 'signup' %}">signup</a>  -->
    {% endif %}
  </div>
{% endblock %}


        